* {
  margin: 0;
  padding: 0;
  color: #F0F0F0;
}

a {
  display: flex;
  justify-content: center;
}

#title, #date {
  width: 13vw;
  height: 5vh;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
  /* border: solid #90c211; */
}

#container{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  background-color: #2B2626;
  /* border: solid #2B2626; */
  /* border-radius: 0; */
}

#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  /* border: solid rgb(59, 188, 218); */
}

.linkId, .linkId2 {
  display: flex;
  justify-content: center;
}

#poster, .not-found {
  max-width: 80%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  box-shadow: 20px 10px 50px #1f1d1d;
  /* border: solid 10px #434040; */
}

#poster:hover, .not-found:hover {
  transform: scale(1.1);
  transition: ease-in-out;
  transition: 0.5s;
}
