#nav-bar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2626;
    /* border: solid rgb(8, 216, 50); */
}

#filter-order {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 20px;
}

#filter, #order {
    width: 15vw;
    height: 4vh;
    padding: 10px;
    background-color: #5A2121;
    border-radius: 5px;
    border: none;
}

#filter:hover, #order:hover {
    background-color: #623434;
}
